<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <title>Centros de investigación</title>
</head>
<body>
    <div class="container-fluid overflow-hidden">
        <div class="row vh-100 overflow-auto">
            <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-white sidebar d-flex sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                    <a href="/" class="pb-sm-3 mb-md-0 me-md-auto text-black text-decoration-none">
                        <img src="/img/logo-espol-2.png" width="99" height="46px" alt="logo">
                        <h5>Admin</h5>
                    </a>
                    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                        <li>
                            <a href="/admin/investigadores" class="nav-link px-sm-0 px-2 d-flex">
                                <img src="/img/sidebar/investigador.png"/>
                                <span class="ms-1 d-none d-sm-inline">Investigadores</span> 
                            </a>
                        </li>
                        <li>
                            <a href="/admin/unidades" class="nav-link px-sm-0 px-2 d-flex">
                                <img src="/img/sidebar/unidad.png"/>
                                <span class="ms-1 d-none d-sm-inline">Unidades académicas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/centros" class="nav-link px-sm-0 px-2 d-flex">
                                <img src="/img/sidebar/centro.png"/>
                                <span class="ms-1 d-none d-sm-inline current-item">Centros de investigación</span>
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">Joe</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column h-sm-100">
                <main class="row overflow-auto p-4">
                   
                    <div class="col-md-5">
                        <div class="card">
                            
                            <div class="card-body">
                                <h5 class="card-title text-center">Nueva centro de investigación</h5>
                                
                                <form action="">

                                    <div class="d-flex flex-column align-items-center">
                                        <img class="img-fluid rounded" id="logo" height="35%" width="35%"/>

                                        <label for="input-logo" class="form-label btn" 
                                            data-bs-toggle="tooltip" title="Cargar logo"
                                        >
                                            <img src="/img/upload_file.png"/>

                                            <input class="form-control" id="input-logo" 
                                                type="file" 
                                                accept="image/png,image/ico,image/svg+xml,image/jpeg" 
                                                required
                                                hidden
                                            >
                                        </label>
                                    </div>
                                    
                                    <div class="mb-2">
                                        <label for="input-name" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="input-name" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="input-siglas" class="form-label">Siglas</label>
                                        <input type="text" class="form-control" id="input-siglas" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="input-publicaciones" class="form-label">Cantidad de publicaciones</label>
                                        <input type="number" class="form-control" id="input-publicaciones" required>
                                    </div>
                                    <div class="mb-2">
                                        <label for="input-citas" class="form-label">Cantidad de citaciones</label>
                                        <input type="number" class="form-control" id="input-citas" required>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <table class="table fixed_header">
                            <thead>
                              <tr class=text-start>
                                <th scope="col">Unidad</th>
                                <th scope="col">Docs</th>
                                <th scope="col">Citas</th>
                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% i = 0 %>
                                <% centers.forEach(item => { %>
                                    <% i++ %>
                                    <tr>
                                        <td>
                                            <%= item.nombre %>
                                        </td>
                                        <td>
                                            xx
                                        </td>
                                        <td>
                                            xx
                                        </td>
                                        <td class="d-flex">
                                            <a href="" data-bs-toggle="tooltip" title="Editar">
                                                <img class="btn btn-primary me-1" src="/img/edit.png"/>
                                            </a>
                                            <a href="" data-bs-toggle="tooltip" title="Eliminar">
                                                <img class="btn btn-danger" src="/img/delete.png"/>
                                            </a>
                                        </td>
                                    </tr>
                                <% }) %>
        
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
    </div>    
    <script src="/js/preview.js"></script>
</body>
</html>