<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/resultados.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar2.css">
    <title>Resultados de búsqueda</title>

</head>
<body>
    <%- include("templates/navbar_results.templates.ejs")%>
    <main class="d-flex justify-content-center align-items-start">
        <img src="/img/favicon.ico" alt="logo" width="128px" height="128px">
    </main>
   
    <%- include("templates/footer.templates.ejs")%>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="/js/config_lang.js"></script>
</body>
</html>