<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>Centro de investigación</title>
</head>
<body>
    <%- include("templates/navbar.templates.ejs", {titulo: "Centro de investigación"})%>
    <main>
        
    </main>
    <%- include("templates/footer.templates.ejs")%>
</body>
</html>