<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/perfil.css">
    <title>Perfil de investigador</title>
</head>
<body>
    <%- include("templates/navbar.templates.ejs", {titulo: "Perfil de investigador"})%>
    <main>

        <section class="container">
            <div class="row">
                <h3>Name</h3>
                <div class="col-md-6">
                    <p><a href="">Facultad</a></p>
                    <p>Orcid: ******</p>
                    <p>Scopus id: *****</p>
                </div>

                <div class="col-md-6">
                    <h5>Áreas de conocimiento</h5>
                    <p>********</p>
                    <p>*******</p>
                </div>
            </div>
        </section>

        <div id="division"></div>

        <section class="container">
            <div class="row"> 
                <div class="col-md-6">
                    <h5>Métricas</h5>
                    <p>Publicaciones: ****</p>
                    <p>Citaciones: ****</p>
                    <p>H-index: ****</p>
                    <p>H5-index: ****</p>
                    <p>FCWI: ****</p>
                </div>
            </div>
        </section>        
    </main>
    <%- include("templates/footer.templates.ejs")%>
</body>
</html>