<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Repositorio de investigadores</title>
</head>
<body>
    <main>
        
        <div class="finder">
            <img src="/img/logo-espol.png" alt="logo">

            <h2><b>Repositorio de investigadores</b></h2>
            
            <form method="POST" action="/resultados" class="form-group">
                <div class="form-group">
                    <input type="search" class="form-control" id="input-finder"
                    placeholder="Busca un investigador, unidad académica o centro de investigación" 
                    name="terms" required>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" id="submit-finder" value="Buscar">
                </div>   
            </form>
        </div>

    </main>

    <%- include("templates/footer.templates.ejs")%>

</body>
</html>