<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>Perfil de investigador</title>
</head>
<body>
    <%- include("templates/navbar.templates.ejs", {titulo: "Repositorio de investigadores"})%>
    <main class="container">
           <div class="m-5 row justify-content-center align-items-center">
               <div class="col-auto">
                   <h2>
                       <strong>
                           La página no existe
                       </strong>
                   </h2>   
               </div>
           </div>
    </main>
</body>
</html>