<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("templates/cabecera.templates.ejs")%>
    <title>Resultados de búsqueda</title>
</head>
<body>
    <main>
        <h1>Resultados de búsqueda de: <%= resultados %></h1>
    </main>
    <%- include("templates/footer.templates.ejs")%>
</body>
</html>