.sidebar{
    color: #213a8f;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    background-color: gainsboro;
}

.current-item{
    color: #213a8f;
    font-weight: bold;
}

/* #437ddc */

.btn-primary{
    background-color: #213a8f;
    border-color: #213a8f;
}

.btn-primary:hover{
    background-color: #214b9f;
    border-color: #214b9f;
}
