@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/*Comentario 2*/

*{
    font-family: 'Roboto', sans-serif;
}

#input-finder{
    margin: 5px 5px 5px 15%;
    width: 70%;
    height: 8vh;
}

.finder{
    text-align: center;
}

#submit-finder{
    margin: 5px;
    background-color: #213a8f;
    border-color: #213a8f;
}

.unidades_academicas{
    /* display: flex;
    flex: 0 0 100%;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
}

.unidades_academicas div{
    justify-self: center;
}

@media screen and (max-width: 1000px) {
    .unidades_academicas{
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        align-items: center;
        justify-self: center;
        justify-content: center;
    }

    .unidades_academicas div{
        justify-self: center;
    }
    
}

.centros_investigacion{
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
}

.centros_investigacion div{
    justify-self: center;
}

@media screen and (max-width: 1000px){
    .centros_investigacion{
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        align-items: center;
        justify-self: center;
        justify-content: center;
    }

    .centros_investigacion div{
        justify-self: center;
    }
}

.contenido_ua{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* UNIDADES ACADEMICAS  */

#FIEC_header{
    background-color: #7196ab;
    color: white;
}

#FICT_header{
    background-color: #436036;
    color: white;
}

#FADCOM_header{
    background-color: #e02285;
    color: white;
}

#FCNM_header{
    background-color: #5b378d;
    color: white;
}

#FCSH_header{
    background-color: #ffdd00;
    /* color: white; */
}

#FCV_header{
    background-color: #52ae32;
    color: white;
}

#FIMCP_header{
    background-color: #1d6db3;
    color: white;
}

#FIMCM_header{
    background-color: #00b4c1;
    color: white;
}

#ESPAE_header{
    background-color: #ed8a47;
    color: white;
}

/* CENTROS DE INVESTIGACION */

#CIBE_header{
    background-color: #57a728;
    color: white;
}

#CENAIM_header{
    background-color: rgb(99, 98, 98);
    color: white;
}

#CIP-RRD_header{
    background-color: #00c1c1fb;
    color: white;
}

#CIDIS_header{
    background-color: #14788E;
    color: white;
}

#CERA_header{
    background-color: #57a728;
    color: white;
}

#CTI_header{
    background-color: rgb(151, 3, 3);
    color: white;
}

#CADS_header{
    background-color: #57a728;
    color: white;
}

#CIPAT_header{
    background-color: #57a728;
    color: white;
}

#CIDNA_header{
    background-color: rgb(151, 3, 3);
    color: white;
}
/*Comentario 3*/
/*Comentario 4*/