@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/*Comentario 2*/

*{
    font-family: 'Roboto', sans-serif;
}

#input-finder{
    margin: 5px 5px 5px 15%;
    width: 70%;
    height: 8vh;
}

.finder{
    text-align: center;
}

#submit-finder{
    margin: 5px;
    background-color: #213a8f;
    border-color: #213a8f;
}

.unidades_academicas{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; */
    column-count: 2;
}

.unidades_academicas div{
    break-inside: avoid-column;
}

.contenido_ua{
    margin-top: 10px;
    margin-bottom: 10px;
}


/*Comentario 3*/
/*Comentario 4*/