.division{
    border-bottom: 0.1px solid #848484;
    /*margin-top: 5px;*/
    margin-bottom: 5px;
}

#maincontainer{
    margin: 0;
    margin-bottom: 40px;
    padding-bottom: 9rem;
}

.title{
    color: #233264;
}

.description{
    cursor: pointer;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #233264;
    border-color: #233264;
}

.option{
    color: black;
    border-color: #233264;
}

.option:hover{
    background-color: #233264;
    border-color: #233264;
}


/* #projects-by-year{
    width:35vw !important;
    height:35vh !important;
} */