.division{
    border-bottom: 0.1px solid #848484;
    /*margin-top: 5px;*/
    margin-bottom: 5px;
}

#maincontainer{
    margin: 0;
    margin-bottom: 40px;
    padding-bottom: 9rem;
}

.title{
    color: #233264;
}

.description{
    cursor: pointer;
}

#projects-by-year{
    width:35vw !important;
    height:35vh !important;
}