#submit-finder{
    background-color: #213a8f;
    border-color: #213a8f;
}

header{
    margin: 10px;
    text-align: center;
}

#input-finder{
    margin-bottom: 10px;
}

h3{
    text-align: center;
}