.sidebar{
    color: #213a8f;
    border-right: 1px solid #848484;
    border-bottom: 1px solid #848484;
}

.nav-link{
    color: #848484;
}

.current-item{
    color: #213a8f;
    font-weight: bold;
}