<footer id="main-footer">
    <div class="footer-group">
        <p>Escuela Superior Politécnica del Litoral - Guayaquil - Ecuador</p>
    </div>

    <div class="footer-group">
        <a style="text-decoration:none; color: white" href="https://www.espol.edu.ec/es/formulario-de-contactos"><p data-value="Contáctenos">Contáctenos</p></a>
        <p>-</p>
        <a style="text-decoration:none; color:white" href="https://www.espol.edu.ec/es/sitemap"><p data-value="Mapa del sitio">Mapa del sitio</p></a>
    </div>

    <div class="footer-group">
        <p>Copyright 2020 ESPOL</p>
    </div>

</footer>