<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/icono home48.png" width="32px" height="32px" alt="home">
        </a>
        <h4><b data-value="<%= titulo %>"><%= titulo %></b></h4>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          </ul>
          <form class="d-flex" method="POST" action="/busqueda">
            <input class="form-control me-2" type="search" placeholder="Buscar" data-value="Buscar" name="terms" required>
            <button class="btn" type="submit" id="navbar-btn" data-value="Buscar">Buscar</button>
          </form>
          
          <div class="language_switch">
            <div class="flags_item" title="Spanish">
                <img src="/img/ec.svg" alt="admin">
            </div>
            <label class="switch">
                <input type="checkbox" class="check">
                <span class="slider round"></span>
            </label>
            <div class="flags_item" title="English">
                <img src="/img/us.svg" alt="admin">
            </div>
        </div>
        
        </div>
      </div>

</nav>
