<div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/img/profile.png" alt="hugenerd" width="35" height="35" class="rounded-circle">
        <span class="d-none d-sm-inline mx-1">Joe</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        
        <li class="dropdown-item disabled"><%=user%></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="auth/cas_logout">Cerrar Sesión</a></li>
    </ul>
</div>